@model CalculatorApp.Models.Calc

@{

	Layout = null;

}



<!DOCTYPE html>



<html>

<head>

	<title>Calculator added</title>

</head>

<body>

	<p>@Model.Make @Model.Model was added</p>

	<p>Click <a asp-action="ListCalculators">here</a> to see all the calculators in the repository.</p>

	<div>
	</div>

</body>

</html>
